<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>访客</title>
	<link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
	<link rel="stylesheet" type="text/css" href="/css/chat.css"/>

	<script src="/js/jquery-1.8.0.min.js"></script>
	<script src="/js/GUID.js"></script>
	</head>
	<body>
		<!--<iframe src="http://h-five.com" width="100%" height="100%" frameborder="0"></iframe>-->
		<div id="chatWindow" class="chatWindow">
			<div class="header">
				<img class="headPhoto" src="http://depot.nipic.com/file/20150605/13378630_23102978350.jpg" />
				<div class="serverInfo">
					<div class="serverName">希达</div>
					<div class="motto">纵有疾风起，人生不言弃.</div>
				</div>
				<div class="closeHandle">
					<span class="closeIcon"></span>
					<span class="ring"></span>
				</div>
			</div>
			<div class="showContent ">
				<div class="container">
					<ul>									
					</ul>
				</div>				
			</div>
			<div class="footer">
				<div class="inputWord">
					<textarea id="word"></textarea>
				</div>
				<div class="endBar">
					<button id="sendNews">发送</button>
				</div>				
			</div>
		</div>
	</body>
	<!-- // <script src="/socket.io/socket.io.js"></script> -->
	<script src="/js/socket.io.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script>
        var ioUrl="<%=host %>:<%=wsPort %>";
    </script>
	<script src="/js/client.js"></script>
</html>