<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>访客</title>
	<link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
	<link rel="stylesheet" type="text/css" href="/css/chat.css"/>

	<script src="/js/jquery-1.8.0.min.js"></script>
	<script src="/js/GUID.js"></script>
	</head>
	<body>
		<iframe src="http://h-five.com" width="100%" height="100%" frameborder="0"></iframe>
		<div id="chatWindow" class="chatWindow">
			<div class="header">
				<img class="headPhoto" src="http://depot.nipic.com/file/20150605/13378630_23102978350.jpg" />
				<div class="serverInfo">
					<div class="serverName">希达</div>
					<div class="motto">纵有疾风起，人生不言弃.</div>
				</div>
				<div class="closeHandle">
					<span class="closeIcon"></span>
					<span class="ring"></span>
				</div>
			</div>
			<div class="showContent ">
				<div class="container">
					<ul>									
					</ul>
				</div>				
			</div>
			<div class="footer">
				<div class="inputWord">
					<textarea id="word"></textarea>
				</div>
				<div class="endBar">
					<button id="sendNews">发送</button>
				</div>				
			</div>
		</div>

	</body>
	<!-- // <script src="/socket.io/socket.io.js"></script> -->
	<script src="/js/socket.io.js"></script>
	<script>
	window.onload = function() {

		var chatTempLate={
			uchat:function(content){
				return '<li class="aWord uSelf">'+
							'<div class="wordCotent">'+
								'<div class="word">'+content+'</div>'+
							'</div>'+
						'</li>';
			},
			schat:function(from,content){
				return '<li class="aWord Sothers">'+
							'<span class="username">'+from+'</span>'+
							'<div class="wordCotent">'+
								'<div class="word">'+content+'</div>'+
							'</div>'+
						'</li>';
			},
			tip:function(str){
				return '<li class="aWord tipNews" style="color:red;">'+
							'<span class="username">系统提示:</span>'+
							'<span class="word">'+str+'</span>'+
						'</li>';
			}
		};

		var myId=new GUID().newGUID();//+prompt("请输入你的用户名(不能为空，为空会出错):")

		var socket = io.connect('<%=host %>:<%=wsPort %>');
		var serverId='';

		socket.emit("initU",{
			"role":1,
			"username":myId,
			"nickname":myId
		});

		socket.on('running',function(data){
			serverId=data.serverId;
		});

		socket.on("noServer",function(data){
			//console.log("noServer");
			$(".showContent ul").append(chatTempLate.tip("暂无客服在线！！请稍后再试"));

			if($(".container ul").height()>$(".container").height()){
				$(".container").scrollTop($(".container ul").height());
			}			
		});

		//发送消息
		$("#sendNews").on("click", function() {
			var content = $("#word").val();
			$("#word").val("");

			$(".showContent ul").append(chatTempLate.uchat(content));
			if($(".container ul").height()>$(".container").height()){
				$(".container").scrollTop($(".container ul").height());
			}

			if(serverId!=''){			
				socket.emit("userChat", {
					from: myId,
					content: content,
					to: serverId
				});


			}else{
			$(".showContent ul").append(chatTempLate.tip("暂无客服在线！！请稍后再试"));	
				if($(".container ul").height()>$(".container").height()){
					$(".container").scrollTop($(".container ul").height());
				}						
			}
		});


		//接受消息

		socket.on("userChat", function(data) {
			//console.log("ok");

			$(".showContent ul").append(chatTempLate.schat(data.from,data.content));

			if($(".container ul").height()>$(".container").height()){
				$(".container").scrollTop($(".container ul").height());
			}

		});

		socket.on("sendHisroty",function(data){
			var tempStr="";
			for(var i=0;i<data.length;i++){
				if(data[i].from==myId){
					tempStr+=chatTempLate.uchat(data[i].content);

				}else{
					tempStr+=chatTempLate.schat(data[i].from,data[i].content);					
				}
			}
			$(".showContent ul").append(tempStr);
			if($(".container ul").height()>$(".container").height()){
				$(".container").scrollTop($(".container ul").height());
			}			

		});

		socket.on("serverOffLine",function(data){
			//console.log("下线客服",data);
		});

	}


	//回车键
      document.onkeydown=function(event){
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if(e && e.keyCode==27){ // 按 Esc 
                //要做的事情
              }
            if(e && e.keyCode==113){ // 按 F2 
                 //要做的事情
               }            
             if(e && e.keyCode==13){ // enter 键
                 //要做的事情
				$("#sendNews").trigger("click");
				return false;
            }
        }	
	</script>
</html>