html,body{
	width: 100%;
	height: 100%;
    font-size: 16px;
}

.q123{
    width: 100%;
    min-width: 500px;
    height: 100%;
    min-height: 600px;
    font-size: 16px;
}

.chatWindow{
	height: 100%;
	background: #E5E9EB;
    overflow: auto;
}
.userNews{
    height: 30px;
    width: 100%;
    background-color: #03A9F4;
    padding: 5px 10px;
    box-sizing: border-box;
    color: white;
    font-size: 1.2em;
}

#nowUsername{
    color: black;
}

.showContent{
	width: 100%;
	height: 77%;
	min-height: 200px;
	box-sizing:border-box;
	padding: 10px;
}

.container{
	width: 100%;
	height: 100%;
	background-color: white;
	overflow: auto;
    border-radius: 5px;
}
.showContent ul{
	background-color: white;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}

.aWord{
	margin-bottom: 10px;
}



.inputWord{
    box-sizing: border-box;
    width: 100%;
    height: 15%;
    min-height: 100px;
    padding: 0px 15px 0px 10px;
}

.inputWord #word{
    border: none;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    resize: none;
    border-radius: 5px;
}


/*chat_server*/

.listTitle{
    height: 30px;
    background: #2B919F;
    margin: 0;
    padding: 5.71px;
    color: white;
    box-sizing: border-box;
}
#usersListCon{
    width: 20%;
    box-sizing: border-box;
    float: right;
    height: 100%;
    min-width: 100px;
    max-width: 200px;
}

#userList{
	list-style: none;
	padding: 0;
	overflow: auto;
	margin: 0;
	box-sizing:border-box;
}

#userList li{
    height: 25px;
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;
    color: white;
    cursor: pointer;
    position: relative;
    border: 1px #E5E9EB solid;
    border-radius: 3px;
    background: #4FB3E5;
}

.iteUserName{
    padding-left: 8px;
    line-height: 1.6;
}
#userList li .unReadNews{
    background-color: #F54A1A;
    color: white;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0px 6px;
    font-size: 0.61em;
    font-weight: bolder;
    height: 100%;
    line-height: 2;
    display: none;
}

/*消息展示*/


.showContent ul li{
    margin: 5px 0px 10px;
    font-size: 15px;
    overflow: auto;
}
.showContent .username{
    line-height: 1.8;
}

.wordCotent{
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;
    overflow: auto;
    overflow-x: hidden;
}

.uSelf .word{
    position: relative;
    margin-left:20px;
    border: 1px #E0DEDE solid;
    border-radius: 3px;
    padding: 5px;
    float: right;
    max-width: 100%;
    word-wrap: break-word;
    margin-right: 8px;
}

.uSelf .word::before{
    display: block;
    content: "";
    border:5px solid transparent;
    position: absolute;
    right: -10px;
    border-left: 5px solid #E0DEDE;

}

.Sothers .word{
    position: relative;
    margin-right: 10px;
    border: 1px #E0DEDE solid;
    border-radius: 3px;
    padding: 5px;
    max-width: 100%;
    word-wrap: break-word;
    float: left;
    margin-left: 8px;
}

.Sothers .word::before{
    display: block;
    content: "";
    border:5px solid transparent;
    position: absolute;
    left: -10px;
    border-right: 5px solid #03A9F4;

}

.showContent ul .tipNews{
    text-align: center;

}
