html,body{
	margin:0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#chatWindow{
	box-shadow: 0px 0px 20px 2px #D0D0D0;
	position: absolute;
	z-index: 99;
	right: 20px;
	bottom: 0;
	width: 320px;
	height:500px;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;
}

#chatWindow div{
	box-sizing:border-box;
}

/*客服头像*/

.header{
	overflow: hidden;
	height: 60px;
	padding: 5px;
	background-color: #00a6f2;	
}
.closeHandle,.headPhoto,.serverInfo{
	float: left;
}

.headPhoto{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin:5px;
}

.serverInfo{
	margin:0px;
	color: white;
	width: 215px;
}

.serverInfo .serverName,.serverInfo .motto{
	margin:3px;
}

.closeHandle .ring,.closeHandle .closeIcon{
	float: right;
}

.closeHandle .ring{
	background-image: url(https://static.meiqia.com/dist/images/icon-desktop.png?v=u34u8a2zteecow29);
	background-position: -22px -111px;
	background-repeat: no-repeat;
	background-size: 44px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	width: 22px;
	height: 22px;	
	display: block;	
}

.closeHandle .closeIcon{
	background-image: url(https://static.meiqia.com/dist/images/icon-desktop.png?v=u34u8a2zteecow29);
	background-position: -22px -66px;
	background-repeat: no-repeat;
	background-size: 44px;
	box-sizing: border-box;	
	width: 22px;
	height: 22px;	
	display: block;		
}

/*消息展示*/
.showContent{
	width: 100%;
	height: 310px;
	background-color: white;
	overflow: hidden;
}
.showContent .container{
	width: 100%;
	height: 100%;
	overflow-y:auto;
}

.showContent ul{
	list-style: none;
	padding: 10px;
	margin:0px;
}
.showContent ul li{
    margin: 5px 0px 10px;
}
.showContent .username{
	line-height: 1.8;
}

.wordCotent{
	overflow: auto;
}

.uSelf .word{
	margin-left:20px;
	border: 1px #E0DEDE solid;
    border-radius: 3px;
    padding: 5px;
    float: right;
	max-width: 100%;
    word-wrap: break-word;
}

.Sothers .word{
	margin-right: 10px;
	border: 1px #E0DEDE solid;
    border-radius: 3px;
    padding: 5px;
 	max-width: 100%;
    word-wrap: break-word;
    float: left;
}

.showContent ul .tipNews{
	text-align: center;

}

/*输入框*/
.inputWord{
    width: 100%;
    height: 80px;
    background: white;
}

.inputWord #word{
	box-sizing: border-box;
    width: 100%;
    resize: none;
    border-left: none;
    border-right: none;
    border-color: rgba(234, 234, 234, 0.86);
    height: 100%;
    outline: none;
    padding: 5px;
}

.footer .endBar{
	height: 57px;
	width: 100%;
	background-color: white;
}

#sendNews{
	border: none;
    background-color: #00A6F2;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 10px 5px;
    float: right;
    cursor: pointer;
}